@import '../../../scss/breakpoints';

.tokenWalletDetails {
  position: relative;
  background: #0c0e1c;
  width: 100%;
  z-index: 5;
  border-radius: 1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  row-gap: 1rem;

  h3 {
    font-size: 14px;
    line-height: 18px;
    color: #bcc2ed;
    font-weight: 500;

    @include bp-s {
      font-size: 16px;
    }
  }

  h4 {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
    padding-right: 0;

    @include bp-m {
      font-size: 16px;
    }
  }
}

.tokenMoreDetailsItemInner {
  height: 18px;
}

.walletListItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  width: 100%;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #222742;
  gap: 5px;
  row-gap: 1rem;

  h3 {
    color: #bcc2ed;
    margin: 0;
    vertical-align: middle;
    line-height: 1em;
    padding: 0;
    font-size: 1em;
  }

  @include bp-m {
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
  }
}

.walletListHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  padding: 0.75rem 1rem;
  padding-bottom: 0;

  @include bp-m {
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
  }
}

.walletListHeaderInfo {
  display: none;

  @include bp-m {
    display: block;
  }
}
